{% extends "v1/layout.html" %} {% load static %} 
{% block title %} Room | {{ name }} {% endblock %} 

{% block body %}

<body class="bodyCreate" data-sender="{{ room.user_name }}" data-receiver="{{ room.other_person_name }}" data-name="{{ name }}">
  <input type="hidden" id="name" value="{{ name }}">
  <div class="bodyCreate_container" id="answersSender">
    <div class="header_title">
        <h1 class="header_title_text">Welcome to</h1>
        <img src="{% static 'v1/room.png' %}" alt="Room logo" class="header_logo_left">
        <h1 class="header_title_text">, {{ room.user_name }}!</h1>
      </div>
      <ol class="bodyCreate_header_text">
        <li>1. Reply to the questions below, and submit.</li>
        <li>2. Check {{ room.other_person_name }}'s answers for matches!</li>
      </ol>
    <div>
      <form method="post" action="{% url 'room2' room.id name %}" id="responseForm">
        {% csrf_token %}
        <div>
          {% for question in questions %}
          <div class="questionContainer">
            <h3>{{ question.question }}</h3>
            <div class="questionContainer_questions">
              <input type="text" name="self_a_{{ question.question_id }}" required autofocus class="answerInputSender" placeholder="Reply about yourself">
              <input type="text" name="other_a_{{ question.question_id }}" required class="answerInputSender" placeholder="Reply about {{ room.other_person_name }}">
            </div>
          </div>
          {% endfor %}
        </div>
        <button type="submit" class="submitButton" id="submitButtonSender">Submit</button>
      </form>
    </div>
  </div>

  <div class="bodyCreate_container" id="answersReceiver">
    <div class="header_title">
      <h1 class="header_title_text">Welcome to</h1>
      <img src="{% static 'v1/room.png' %}" alt="Room logo" class="header_logo_left">
      <h1 class="header_title_text">, {{ room.other_person_name }}!</h1>
    </div>
    <ol class="bodyCreate_header_text">
      <li>1. Reply to the questions below, and submit.</li>
      <li>2. Check {{ room.user_name }}'s answers for matches!</li>
    </ol>
  
    <div>
      <form method="post" action="{% url 'room2' room.id name %}" id="responseForm">
        {% csrf_token %}
        <div>
          {% for question in questions %}
          <div class="questionContainer">
            <h3>{{ question.question }}</h3>
            <div class="questionContainer_questions">
              <input type="text" name="self_b_{{ question.question_id }}" required autofocus class="answerInputReceiver" placeholder="Reply about yourself">
              <input type="text" name="other_b_{{ question.question_id }}" required class="answerInputReceiver" placeholder="Reply about {{ room.user_name }}">
            </div>
          </div>
          {% endfor %}
        </div>
        <button type="submit" class="submitButton" id="submitButtonReceiver">Submit</button>
      </form>
    </div>
  </div>
<script src="{% static 'v1/js/answers.js' %}"></script>
</body>

{% endblock %}