{% extends "v1/layout.html" %} {% load static %} {% block title %} Room | Create Room
{% endblock %} {% block body %}

<body class="bodyCreate">
  <div class="bodyCreate_container">
    <div class="bodyCreate_header">
      <div class="header_title">
        <h1>Create</h1>
        <img
          src="{% static 'v1/room.png' %}" class="header_logo_left"/>
      </div>
      <ol class="bodyCreate_header_text">
        <li>1. Enter your name and email address</li>
        <li>
          2. Enter the name of who you will be sharing this room with, and their
          email address
        </li>
        <li>3. Create questions for both of you to answer</li>
        <li>4. Once both of you reply, the answers will be revealed!</li>
      </ol>
    </div>
    <form method="post" action="{% url 'create' %}">
      {% csrf_token %}
      <div class="inputNames_container">
        <div class="inputNames">
          <div class="inputNames_field">{{ room_form.user_name }}</div>
          <div class="inputNames_field">{{ room_form.sender_email }}</div>
        </div>
        <div class="inputNames">
          <div class="inputNames_field">{{ room_form.other_person_name }}</div>
          <div class="inputNames_field">{{ room_form.receiver_email }}</div>
        </div>
      </div>
      <div class="inputQuestions" id="inputQuestions">
        <div>{{ question_form.question }}</div>
        <button type="button" class="randomButton" id="randomButton" title="Click to get a random question suggestion">
          <i class="fa-solid fa-shuffle"></i>
        </button>
        <button
          type="submit"
          class="CreateButton"
          name="add_question"
          id="addQuestionButton"
        >
          Add question
        </button>
      </div>
      <div class="questionList">
        {% for question in questions %}
        <div class="questionList_question">
          <ul class="questionList_question_text">
            {{question}}
          </ul>
          <a
            class="questionList_delete"
            href="{% url 'create' %}?delete_question_id={{ forloop.counter0 }}"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </div>
        {% endfor %}
      </div>

      <div class="buttonsContainer">
        <a href="{% url 'index' %}" class="buttonsContainer_back">Back</a>
        <button
          type="submit"
          class="CreateButton"
          name="create"
          id="createRoom"
        >
          Create
        </button>
      </div>
      <input type="hidden" id="has_questions" value="{{ questions|length }}" />
    </form>
  </div>
  <div class="note">
    <p>Note: Both you and <span style="font-weight: bold;">receiver</span> will get automated emails with your personalized room links to reply or view answers.</p>
    <p>You will also get a second email when <span style="font-weight: bold;">receiver</span> replies!</p>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const addQuestionButton = document.getElementById("addQuestionButton");
      const questionInput = document.querySelector("[name='question']");
      const hasQuestionsElement = document.getElementById("has_questions");
      const inputQuestions = document.getElementById("inputQuestions");
      const createRoomButton = document.getElementById("createRoom");
      const randomButton = document.getElementById("randomButton");

      // Define the list of random questions
      const questionsList = [
        "What is your favorite book?",
        "If you could visit any place in the world, where would you go?",
        "What is the most memorable trip you've ever taken?",
        "What hobby would you like to pick up if you had more time?",
        "Who is someone you admire and why?",
        "What is a skill you'd like to learn and why?",
        "What is your favorite movie and why?",
        "If you could have dinner with any historical figure, who would it be?",
        "What is your go-to comfort food?",
        "What was the last book you read and enjoyed?",
      ];

      // Function to update the display based on question count
      function updateQuestionCount() {
        const hasQuestions = parseInt(hasQuestionsElement.value, 10);
        if (hasQuestions > 4) {
          inputQuestions.style.display = "none";
          createRoomButton.classList.add("done");
        } else {
          inputQuestions.style.display = "flex";
          createRoomButton.classList.remove("done");
        }
      }

      // Initial check on page load
      updateQuestionCount();

      // Handle question addition
      addQuestionButton.addEventListener("click", function (event) {
        const questionText = questionInput.value.trim();
        if (questionText === "") {
          alert("Please enter a question before adding");
          event.preventDefault();
          return;
        }

        // Increment the hidden field value
        let hasQuestions = parseInt(hasQuestionsElement.value, 10);
        hasQuestions++;
        hasQuestionsElement.value = hasQuestions;

        updateQuestionCount();
      });

      // Handle random question generation
      randomButton.addEventListener("click", function () {
        const randomIndex = Math.floor(Math.random() * questionsList.length);
        const randomQuestion = questionsList[randomIndex];
        questionInput.value = randomQuestion; 
      });

      // Handle form submission
      const form = document.querySelector("form");

      form.addEventListener("submit", function (event) {
        const hasQuestions = parseInt(hasQuestionsElement.value, 10);
        const userName = document.getElementById("id_user_name").value.trim().toLowerCase();
        const otherPersonName = document.getElementById("id_other_person_name").value.trim().toLowerCase();
        if (userName === otherPersonName) {
          alert("Your name and the receiver's name can't be the same, sorry for the inconvenience!");
          event.preventDefault(); // Prevent form submission
        }
        if (hasQuestions < 1) {
          alert("You must at least add one question to create a room");
          event.preventDefault(); // Prevent form submission
          return;
        }
      });
    });
  </script>
</body>

{% endblock %}