{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lustria&display=swap"
      rel="stylesheet"
    />
    <title>Mistery Exchange | Create Room</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'v1/css/styles.css' %}"
    />
  </head>
  <body>
    <h1>Create Room</h1>
    <form method="post" action="{% url 'create' %}">
      {% csrf_token %}
      <div class="inputNames">
        {{room_form}}
        </div>
          <div>
            {% for question in questions %}
            <ul>{{question}}               
              
            <a href="{% url 'create' %}?delete_question_id={{ forloop.counter0 }}" name="delete_question">Delete</a>
           
            </ul>
            {% endfor %}
          </div>
        </div>
        <div>
          {{question_form}}
        </div>
      </div>
        <div style="
          width: 200px;
          display: flex;
          align-items: center;
          justify-content: space-around;">
        <a href="{% url 'index' %}" style="text-decoration: none; color: white"
          >Back</a>
        <button type="submit" class="CreateButton" name="add_question">Add question</button>

        <button type="submit" class="CreateButton" name="create">Create</button>
      </div>
    </form>
  </body>
</html>
