{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lustria&display=swap"
      rel="stylesheet"
    />
    <title>Mistery Exchange</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'v1/css/styles.css' %}"
    />
  </head>
  <body>
    <div>
      <img src="{% static 'v1/logo.png' %}" style="width: 100px" />
      <h1>Mistery Exchange</h1>
    </div>
    <div>
      <button
        onclick="window.location.href='{% url 'create' %}'"
        class="indexCreateButton"
      >
        Create new Room
      </button>
    </div>
  </body>
</html>
