{% extends "v1/layout.html" %} {% load static %} {% block title %} Room 
{% endblock %} {% block body %}

<body>
  <div>
    <img src="{% static 'v1/room.png' %}" class="indexLogo"/>
    <h2>Discover How Well You Know Each Other</h2>
  </div>
  <div>
    <button class="indexCreateButton" id="indexCreateButton">
      Start
    </button>
    <div id="circleAnimation" class="circleAnimation"></div>
  </div>
  <div style="width: 30vw; height: 70px; display: flex; flex-direction: column; justify-content: space-between; position: absolute; bottom: 10px;">
    <p class="githubText">Developed by</p>
    <div style="display: flex; justify-content: space-around;">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <a
        href="https://github.com/andreabarrandeguy/"
        target="_blank"
        class="github"
        title="Andrea Barrandeguy's GitHub"
        ><i class="fa-brands fa-github githubIcon"></i><p>Andrea Barrandeguy</p></a>
        <p class="githubText">Front end</p>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <a
        href="https://github.com/pedvel/"
        target="_blank"
        class="github"
        title="Pedro Velazquez's GitHub"
        ><i class="fa-brands fa-github githubIcon"></i><p>Pedro Velazquez</p></a>
        <p class="githubText">Back end</p>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var indexCreateButton = document.getElementById("indexCreateButton");
      var circleAnimation = document.getElementById("circleAnimation");
      var redirectUrl = '{% url "create" %}'; 

      indexCreateButton.addEventListener("click", function () {
        circleAnimation.classList.add("animate");
        setTimeout(function () {
          window.location.href = redirectUrl; 
        }, 300); // Match the duration of the CSS animation
      });
    });
  </script>
</body>

{% endblock %}
