{% extends "v1/layout.html" %} {% load static %} {% block title %} Room | Results
{% endblock %} {% block body %}

<body>
  <div class="header_title">
    <img
      src="{% static 'v1/room.png' %}"
      class="header_logo_right"
    />
    <h1>results</h1>
    <p>{{ sender }} sender's view</p>
  </div>


  <div class="carousel">
    <div class="carousel-slides">
        {% for question in questions %}
        <div class="carousel-slide">
            <h1>{{ question.question}}</h1>
            <div>
              <div>
                <h2 style="color: black;">{{ receiver }}'s' reply</h2>
                <p>{{ question.self_b }}</p>
              </div>
              <div>
                <h4 style="color: black; font-weight: 500;">Your guess on {{ receiver }}</h4>
                <p>{{ question.other_a }}</p>
              </div>
            </div>

            <div>
              <div>
                <h2 style="color: black;">{{ receiver }}'s' guess on you</h2>
                <p>{{ question.other_b }}</p>
              </div>
              <div>
                <h4 style="color: black; font-weight: 500;">Your reply on yourself</h4>
                <p>{{ question.self_a }}</p>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="slideButton prev" onclick="moveSlide(-1)">&#10094;</button>
    <button class="slideButton next" onclick="moveSlide(1)">&#10095;</button>
</div>

  <a href="{% url 'create' %}" class="createNew" id="createNewButton"
    >Create a new one!</a
  >

  <script>
    let currentSlide = 0;

function moveSlide(direction) {
    const slides = document.querySelector('.carousel-slides');
    const totalSlides = document.querySelectorAll('.carousel-slide').length;
    
    currentSlide = (currentSlide + direction + totalSlides) % totalSlides;
    
    const offset = -currentSlide * 100;
    slides.style.transform = `translateX(${offset}%)`;
}
  </script>
</body>

{% endblock %}