{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lustria&display=swap"
      rel="stylesheet"
    />
    <title>Mystery Exchange | Room {{ room_id }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'v1/css/styles.css' %}"
    />
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Room ID: {{ room_id }}</h1>

    <table class="results">
      <tr>
        <th>Question</th>
        <th>{{ sender }}'s Reply</th>
        <th>{{ receiver }}'s Reply about {{ sender }}</th>
      </tr>
      {% for question in questions %}
      <tr>
        <td>{{ question.question }}</td>
        <td>{{ question.self_a }}</td>
        <td>{{ question.other_b }}</td>
      </tr>
      {% endfor %}
    </table>

    <table class="results">
      <tr>
        <th>Question</th>
        <th>{{ receiver }}'s Reply</th>
        <th>{{ sender }}'s Reply about {{ receiver }}</th>
      </tr>
      {% for question in questions %}
      <tr>
        <td>{{ question.question }}</td>
        <td>{{ question.self_b }}</td>
        <td>{{ question.other_a }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'create' %}" class="createNew">Create a new one!</a>
  </body>
</html>
