{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Mistery Exchange | Room {{ room_id }} - {{ sender }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'v1/css/styles.css' %}"
    />
  </head>
  <body>
    <div>
      <h1>Room created!</h1>
      <p>Room ID: {{ room_id }}</p>
    </div>
    <div>
      <h2>{{ sender }} please make sure to share the below link with {{ receiver }}</h2>
      <input type="text" value="{{ request.build_absolute_uri }}" readonly style="width: 70dvw; text-align: center;"/>
    </div>
    <div style="display: flex; justify-content: space-around;">
      <div>
        <h2>Reply about yourself</h2>
        <form method="post" action="{% url 'sender' room_id sender %}">
          {% csrf_token %}
          <ul>
            {% for question in questions %}
            <li>
              <label>{{ question.question }}</label>
              <input
                type="text"
                name="self_a_{{ question.question_id }}"
                required
              />
            </li>
            {% endfor %}
          </ul>
      </div>  
      <div>
        <h2>Reply about {{ receiver }}</h2>
        <ul>
          {% for question in questions %}
          <li>
            <label>{{ question.question }}</label>
            <input
              type="text"
              name="other_a_{{ question.question_id }}"
              required
            />
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
        <button type="submit" style="width: 100px; align-self: center;">Submit</button>
      </form>
    
  </body>
</html>
