{% extends "v1/layout.html" %} {% load static %} {% block title %} Room | {{ sender }}
{% endblock %} {% block body %}

<body>
  <div class="header_title">
    <img
    src="{% static 'v1/room.png' %}"
    class="header_logo_right"
  />
    <h1>created!</h1>
  </div>
  <div>
    <h2>{{ sender }}, please make sure to share the below link with {{ receiver }}</h2>
    <input type="text" value="{{ request.scheme }}://{{ request.get_host }}/s/{{ short_url }}" readonly class="urlShare"/>
  </div>
  <div class="senderAnswers">
    <div class="senderAnswers_answer">
      <h2>Reply about yourself</h2>
      <form method="post" action="{% url 'sender' room_id sender %}" id="responseForm">
        {% csrf_token %}
        <ul>
          {% for question in questions %}
          <li>
            <label>{{ question.question }}</label>
            <input
              type="text"
              name="self_a_{{ question.question_id }}"
              required
              class="answerInput"
            />
          </li>
          {% endfor %}
        </ul>
    </div>  
    <div class="senderAnswers_answer">
      <h2>Reply about {{ receiver }}</h2>
      <ul>
        {% for question in questions %}
        <li>
          <label>{{ question.question }}</label>
          <input
            type="text"
            name="other_a_{{ question.question_id }}"
            required
            class="answerInput"
          />
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
      <button type="submit" class="submitButton">Submit</button>
    </form>
    <script>
      // Function to check if all inputs are filled
      function checkInputs() {
        const inputs = document.querySelectorAll('.answerInput');
        const button = document.querySelector('.submitButton');
        const allFilled = Array.from(inputs).every(input => input.value.trim() !== '');
        if (allFilled) {
          button.classList.add('done');
        } else {
          button.classList.remove('done');
        }
      }

      // Add event listeners to all input fields
      document.querySelectorAll('.answerInput').forEach(input => {
        input.addEventListener('input', checkInputs);
      });

      // Initial check in case the inputs are pre-filled
      checkInputs();
    </script>
</body>

{% endblock %}