* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  overflow: hidden;
  position: relative;
}

h1 {
  text-align: center;
  font-family: "Lustria", serif;
  font-weight: 400;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-family: "Lustria", serif;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.results {
  width: 90dvw;
  align-self: center;
}

th {
  color: black;
}

/*Index*/
.indexCreateButton {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: white;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 15px;
}

.indexCreateButton:hover {
  opacity: 0.75;
}

.circle-animation {
  position: absolute;
  top: 34%;
  left: 49%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  z-index: 9999; /* Ensure it is above other content */
  pointer-events: none;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px); /* Apply blur effect */
}

@keyframes expandCircle {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 200vw;
    height: 200vh;
  }
}

.animate {
  animation: expandCircle 0.5s ease forwards; /* Apply keyframes animation */
}

/*Create*/

.bodyCreate {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.inputNames {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}

.inputNames_field {
  width: 290px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.inputNames_field input {
  font-size: 1rem;
}

form .question-input {
  height: 33px;
  width: 445px;
  text-align: center;
  border-radius: 10px;
}

.inputQuestions {
  display: flex;
  align-items: center;
  width: 610px;
  justify-content: space-between;
}

.randomButton {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  animation: gradientMove 10s linear infinite;
  cursor: pointer; /* Optional: for better UX */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.CreateButton {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.CreateButtonFinal {
  color: white;
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  animation: gradientMove 10s linear infinite;
  cursor: pointer;
}

.deleteButton {
  color: white;
  background-color: grey;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
}

.deleteButton:hover {
  background-color: red;
}

.CreateButton:hover {
  opacity: 0.75;
}

/*Room*/
.createNew {
  text-decoration: none;
  color: black;
  background-color: white;
  width: 150px;
  height: 40px;
  align-self: center;
  align-content: center;
  border-radius: 10px;
}

.createNew:hover {
  opacity: 0.75;
}
