* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  overflow: hidden;
  position: relative;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Lustria", serif;
  font-weight: 400;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-family: "Lustria", serif;
  font-weight: 400;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

/*Index*/
.indexLogo {
  width: 500px;
}

.indexCreateButton {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 10px;
  color: white;
  height: fit-content;
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  animation: gradientMove 10s linear infinite;
}

.indexCreateButton:hover {
  opacity: 0.75;
}

.circleAnimation {
  position: absolute;
  top: 34%;
  left: 49%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
  pointer-events: none;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px); 
}

.animate {
  animation: expandCircle 0.3s ease forwards; 
}

@keyframes expandCircle {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 200vw;
    height: 200vh;
  }
}

.github {
  display: flex;
  text-decoration: none;
  color: grey;
  align-items: center;
  font-size: 0.75rem;
}

.githubHeader {
  color: grey;
  font-size: 0.75rem;
  padding-bottom: 5px; 
  border-bottom: solid 1px grey;
}

.githubText {
  color: grey;
  font-size: 0.75rem;
}

.githubIcon {
  margin-right: 5px;
}

/*Create*/
.bodyCreate {
  justify-content: space-between;
}

.bodyCreate_container {
  display: flex; 
  flex-direction: column;
}

.bodyCreate_header {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.header_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.header_logo_left {
  width: 150px; 
  height: fit-content; 
  margin-left: 10px;
}

.bodyCreate_header_text {
  color: grey;
}

.bodyCreate_header_text li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputNames_container {
  display: flex; 
  width: 610px; 
  justify-content: space-between;
  margin: 10px 0;
}

.inputNames {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}

.inputNames_field {
  width: 290px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.inputNames_field input {
  font-size: 1rem;
}

form .question-input {
  height: 33px;
  width: 445px;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
  font-style: italic;
}

.inputQuestions {
  display: flex;
  align-items: center;
  width: 610px;
  justify-content: space-between;
  margin: 10px 0;
}

.randomButton {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  animation: gradientMove 10s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.CreateButton {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.questionList {
  width: 510px; 
  display: flex; 
  flex-direction: column;
  margin: 10px 0;
}

.questionList_question {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.questionList_question_text {
  width: 465px;
  align-content: center;
  background-color: darkgray;
  color: black;
  height: 100%;
  border-radius: 10px;
}

.questionList_delete {
  color: white;
  background-color: grey;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
}

.questionList_delete:hover {
  background-color: red;
}

.buttonsContainer {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.buttonsContainer_back {
  text-decoration: none; 
  color: white;
}

.done {
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  animation: gradientMove 10s linear infinite;
}

.CreateButton:hover {
  opacity: 0.75;
}

.note {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

/*Sender*/
.header_logo_right {
  width: 150px; 
  height: fit-content; 
  margin-right: 10px;
}

.urlShare {
  width: 240px; 
  text-align: center;
}

.senderAnswers {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

.answerInputSender {
  height: 40px; 
  border-radius: 10px; 
  margin-top: 5px; 
  text-align: center;
}

.answerInputReceiver {
  height: 40px; 
  border-radius: 10px; 
  margin-top: 5px; 
  text-align: center;
}

.senderAnswers_answer {
  width: 45%;
}

.senderAnswers_answer ul {
  width: 100%;
}

.senderAnswers_answer ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.submitButton {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 100px; 
  align-self: center;
  margin-bottom: 15px;
}

.done {
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  animation: gradientMove 10s linear infinite;
}

/*Room*/
.waitingContainer {
  height: 65vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.roomLogo {
  height: 200px;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

.hidden {
  display: none;
}

.message {
  font-family: "Lustria", serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 65vh; /* Full viewport height */
  overflow: hidden;
  background: white;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  align-items: center;
}

.carousel-slide {
  min-width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carousel-slide h1 {
  font-size: 2em;
  color: black;
  margin-top: 30px;
}

.carousel-slide p {
  margin: 10px 0;
  color: black;
}

.slideButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.createNew {
  text-decoration: none;
  color: white;
  width: 150px;
  height: 40px;
  align-self: center;
  align-content: center;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #15bc78,
    #a310a3,
    #c68825,
    #5c50de,
    #ca4d4d,
    #7d7dc5
  );
  background-size: 600% 600%;
  animation: gradientMove 10s linear infinite;
}

.createNew:hover {
  opacity: 0.75;
}

