* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  overflow: hidden;
  position: relative;
}

h1 {
  text-align: center;
  font-family: "Lustria", serif;
  font-weight: 400;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.results {
  width: 90dvw;
  align-self: center;
}

th {
  color: black;
}

/*Index*/
.indexCreateButton {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: white;
  position: relative;
  z-index: 1;
}

.indexCreateButton:hover {
  opacity: 0.75;
}

.circle-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  z-index: 9999; /* Ensure it is above other content */
  pointer-events: none;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px); /* Apply blur effect */
}

@keyframes expandCircle {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 200vw;
    height: 200vh;
  }
}

.animate {
  animation: expandCircle 0.5s ease forwards; /* Apply keyframes animation */
}

/*Create*/
.inputNames {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 610px;
}

.inputNames_field {
  width: 300px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

form .question-input {
  height: 30px;
  width: 475px;
  text-align: center;
  border-radius: 10px;
}

.inputQuestions {
  display: flex;
  align-items: center;
  width: 610px;
}

.CreateButton {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: white;
  margin-left: 10px;
}

.CreateButton:hover {
  opacity: 0.75;
}

/*Room*/
.createNew {
  text-decoration: none;
  color: black;
  background-color: white;
  width: 150px;
  height: 40px;
  align-self: center;
  align-content: center;
  border-radius: 10px;
}

.createNew:hover {
  opacity: 0.75;
}
